@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 1rem;
}

button, 
input,
textarea,
select {
  padding: .25rem 1.25rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: .25px;
  cursor: pointer;
  outline: none;
}

div {
  margin-bottom: 1rem;
}

input,
textarea {
  cursor: text;
  margin-bottom: .875rem;
  display: block;
}

select {
  margin-bottom: .875rem;
}


.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.form-group {
  border: 1px solid orange;
  padding: .5rem;
}

.checkbox-wrap {
  display: flex;
}

label {
  padding-left: .5rem;
  margin-top: -3px;
}