* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #fcfcfc;
  display: grid;
  place-items: center;
}

.container {
  width: 400px;
  height: 200px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  display: grid;
  justify-content: center;
}
